.home {
    width: 70vw;
    margin: 0rem 18rem;
}

@media only screen and (min-width: 1300px) {
    .home {
        margin: 0 22rem;
    }
}

.home-icon {
    color: rgba(255, 255, 255, 0.2);
}

.user-intro {
    width: 100%;
    height: auto;
    margin: -2.5rem auto 2rem auto;
}

.user-intro p {
    font-size: 1.2rem;
}

.home-content {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.grid-container-1,
.grid-container-2,
.grid-container-3 {
    height: 30vh;
    border-radius: 25px;
    border: 1px solid #ffffff;
}

.grid-container-std {
    height: 30vh;
    border-radius: 25px;
    border: 1px solid #ffffff;
}


.grid-container-1 {
    background: url(../assets/warframe.png) no-repeat center/cover;
}

.grid-container-2 {
    background: url(../assets/warframe-trailer.png) no-repeat center/cover;
}


.grid-container-3 {
    background-color: #0e212b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.grid-container-3 .title,
.grid-container-3 .genre,
.grid-container-3 .genre-tag,
.grid-container-3 .price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid-container-3 .title p,
.grid-container-3 .genre p,
.grid-container-3 .genre-tag p,
.grid-container-3 .players p,
.grid-container-3 .price p {
    font-size: 0.8rem;
}

.grid-container-3 .title {
    justify-content: space-between;
    width: 80%;
}

.grid-container-3 .title p {
    font-size: 1.5rem;
    font-weight: 700;
}

.grid-container-3 .genre {
    justify-content: left;
    width: 80%;
}

.grid-container-3 .genre-tag {
    background-color: #031722;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-right: 0.5rem;
}

.grid-container-3 .players {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.grid-info-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.download-heading {
    font-weight: 700;
}

.download-count {
    color: rgba(255, 255, 255, 0.5);
}

.price {
    justify-content: space-between;
}

.marginRight {
    margin-right: 0.5rem;
}

.grid-container {
    height: 30vh;
    border-radius: 25px;
    border: 1px solid #ffffff;
}

.grid-container-4 {
    background: url(../assets/cod.jpg) no-repeat center/cover;
}

.grid-container-5 {
    background: url(../assets/nba2k.jpg) no-repeat center/cover;
}

.grid-container-6 {
    background: url(../assets/uncharted.jpg) no-repeat center/cover;
}

.grid-container-7 {
    background: url(../assets/fifa23.jpg) no-repeat center/cover;
}

.grid-container-8 {
    background: url(../assets/gotham-knights.jpg) no-repeat center/cover;
}

.grid-container-9 {
    background: url(../assets/destiny.jpg) no-repeat center/cover;
}

.grid-container-10 {
    background: url(../assets/stray.png) no-repeat center/cover;
}

.grid-container-11 {
    background: url(../assets/cyberpunk.jpg) no-repeat center/cover;
}

.grid-container-1,
.grid-container-2,
.grid-container-3,
.grid-container-4,
.grid-container-5,
.grid-container-6,
.grid-container-7,
.grid-container-8,
.grid-container-9,
.grid-container-10,
.grid-container-11  {
    transition: 300ms;
}

.grid-container-1:hover,
.grid-container-2:hover,
.grid-container-3:hover,
.grid-container-4:hover,
.grid-container-5:hover,
.grid-container-6:hover,
.grid-container-7:hover,
.grid-container-8:hover,
.grid-container-9:hover,
.grid-container-10:hover,
.grid-container-11:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.section-nav-container {
    display: flex;align-items: center;
    justify-content: space-between;
}

.section-more {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.more-link {
    color: #66c0f4;
}